/***** HTML *****/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body
{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/***** End HTML *****/

/***** Menu lateral *****/
header
{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	padding: 20px;
	background: linear-gradient(to right, #0B0B61, #0101DF, #013ADF);
}

header #button-menu
{
	font-size: 30px;
	color: #fff;
	cursor: pointer;
}

.navegacion
{
	position: absolute;
	top: 100%;
	left: 0;
	width: 0%;
	height: 100vh;
	background: rgba(0,0,0,.0);

}

.navegacion ul
{
	width: 320px;
	height: 100%;
	background: #fff;
	list-style: none;
	position: absolute;
	top: 0;
	left: -320px;
	transition: left .3s;
}

.navegacion .menu li.title-menu 
{
    padding: 20px;
    text-align: center;
}

.navegacion .menu li.title-menu-ig
{
    padding: 20px;
    text-align: center;
    background: linear-gradient(to right,#0101DF, #013ADF,#2ECCFA);
    color: #fff;
	font-size: 25px;
    font-weight: 500;
}

.navegacion .menu li.title-menu img 
{
    max-width: 100%; 
    height: auto; 
}


.navegacion .menu a
{
	display: block;
	padding: 30px;
	border-bottom: 5px solid #013ADF;
    background: #0B0B61;
	font-size: 22px;
	font-weight: 200;
	text-decoration: none;
    color: #fff;
}

.navegacion .menu a:hover
{
	background: #2ECCFA;
    transition: all .3s ease;
}

.navegacion .menu li span.icon-menu
{
	margin-right: 12px;
}

.navegacion .menu .item-submenu > a::after
{
	font: normal normal normal 14px/1 FontAwesome;
  	font-size: inherit;
  	text-rendering: auto;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
	content: '\f105';

	float: right;
	color: #C5C5C5;
}

/***** SubMenu Categorias *****/

.navegacion .submenu li.title-menu
{
    background: linear-gradient(to right,#0101DF, #013ADF,#2ECCFA);
	color: #fff;
    padding: 20px;
    font-size: 25px;
    font-weight: 500;
}

.navegacion .submenu li.go-back
{
	padding: 10px 20px;
	background: #2ECCFA;
	color: #fff;
	font-size: 18px;
	cursor: pointer;
}

.navegacion .submenu li.go-back::before
{
	font: normal normal normal 14px/1 FontAwesome;
  	font-size: inherit;
  	text-rendering: auto;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
	content: '\f0d9';
	margin-right: 10px;
}

@media screen and (max-width: 320px)
{
	.navegacion ul{
		width: 100%;
	}
}
/***** End Menu lateral *****/

.horario-asistencia {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.entrada, .salida {
	flex: 1;
	padding: 5px;
}
